node_modules/
dist/
data/
.dynamodb-local/
dynamodb-local-metadata.json

.DS_Store
.env
.env.*
*.log

coverage/
*.tsbuildinfo

.vscode/
.idea/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
**/install-state.gz
**/test-results/
